html, body, h1, h2, h3, h4, p, div, ul, ol, li {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration:none;
  color:black;
}

html {
  position:relative;
  min-height:100%;
  overflow-x:hidden;
}

header {
  background-color: #f05d00;
  height: 106px;
  width: 100%;
}

h1 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 40px;
  font-weight: bold;
  /*color: #8f341c; */
  /*text-align: center; */
  color: #000000;
}

h2 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 35px;
  font-weight: bold;
  /*color: #8f341c; */
  color: #000000;
}

.logo {
  width: 250px;
  height: 100px;
  border: 3px solid #ffffff;
  padding-left: 20px;
  background-color:#ff8700;
  display:inline;
  float:left;
}

.logo:hover {
  background-color: #f8b263;
}

.contentWrapper {
  height: 800px;
  /*background-color: #eaa897; */
  background-color: rgba(234, 168, 151, 0.39)
  /*background-color: #dfd0af; */

}

ul {

}

.navigation {
  display:inline;
}

.navigationLink {
  list-style:none;
  display:inline;
  margin-left: 30px;
  font-size:20px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  top: 65px;
  position: absolute;
}

.navigationLink:hover {
  color: #efcd9b;
  text-decoration:underline;
}

.navigation .resumeLink {
  left: 370px;
}

.seaImageContainer {
  width:100%;
  max-height:50px;
  display:inline;
  float:right;
  position:absolute;
}

.seaImageContainer img {
  width:100%;
  height: 20%;
  max-height:50px;
}

.sidePicture {
  position:absolute;
}

.sidePicture img {
  max-width:275px;
}

.sidePictureRight {
  position:absolute;
  right:0;
}

.sidePictureRight img {
  max-width:275px;
}

.sagrada1{
  display:block;
}

.about {
  top: 50px;
  margin:0 auto;
  text-align: center;
  padding:30px 0;

}

.about h3 {
  font-size:30px;
  color: rgb(107, 77, 69);
  display:inline;
  padding:20px 0;
}
.introContent, .hobbies {
  color: rgb(107, 77, 69);
  max-width:600px;
  font-size:18px;
  margin:20px auto;
  text-align:left;
}

.gowthamPic {
  max-width:350px;
  margin-top: 10px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height:16%;
  background-color: #473421;
}

footer .logos {
  top: 20%;
  text-align:center;
  margin-top: 30px;
}

footer .logos a {
  margin: 0 1px;
}

footer .logos a img {
  max-width:29px;
}

.footerText {
  font-family: verdana, sans-serif;
  color: #dfd0af;
  text-align:center;
  margin-top: 15px;
}

@media all and (max-width: 1150px) {
  .sidePictureRight {
    display:none;
  }
  .about {
    margin-left:30%;
  }

  .resume {
    width: 60%;
    margin-left: 33%;
  }
}

@media all and (max-width: 880px) {
  .sidePictureRight {
    display:none;
  }

  .sidePicture {
    display:none;
  }

  .about {
    margin-left: 0;
  }

  .gowthamPic {
    max-width:300px;
  }

}

@media all and (max-width: 620px) {
  .about {
    margin-left:5%;
    width:90%;
  }
  .gowthamPic {
    margin-top: 10px;
  }
}

@media all and (max-width: 470px) {
  .navigation {
    display:block;
  }
  .navigationLink {
    margin-top: 55px;
  }

  .logo {
    position:absolute;
    z-index:5;
    left:0;
    right:0;
    margin:auto;
  }

  header {
    height:160px;
  }
  .seaImageContainer{
    height:300px;
  }

  .seaImageContainer img {
    height: 106px;
    max-height:106px;
  }

  .aboutLink {
    position:absolute;
    left:25%;
  }

  .navigationLink {
    margin-left:0;
  }

  .resumeLink {
    right:25%;
    left:auto !important;
  }

  .gowthamPic {
    max-width:225px;
  }
}

/* Resume page specific */
.resume {
  margin:0px auto;
  width: 50%;
  height: 600px;
  overflow:auto;
  overflow-x:hidden; 
  background-color: pink;
}

.resume .scrollable {
  position:relative;
  left:500px;
  top:15px;
}

/*Arrow animation*/
@keyframes fading {
    from {opacity: 100%; top: -10px;}
    to {opacity: 0; top: 40px;}
}

.scrollText {
  margin-top: 20px;
}

.arrow {
    position: absolute;
    animation-name: fading;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-iteration-count:3;
    animation-fill-mode: forwards;
    left: 160px;
    z-index: 5;
}

.rectangle {
    width: 16px;
    height: 30px;
    background-color: red;
    position:relative;
    left: 8px;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 16px solid red;
  }
/* End of arrow animation*/

.section {
  margin-bottom: 40px;
}

.resume h3 {
  font-size: 45px;
  margin: 30px 30px;
  font-family: Tahoma, Geneva, sans-serif;
}

.resume .level {
  width: 180px;
  margin: 10px 25px;
  text-align:center;
  display:inline-block;
  vertical-align:top;
}

.resume .level li {
  font-family: futura, arial, sans-serif;
  text-align:center;
  font-weight:lighter;
  line-height:1.6;

}

.resume h4{
  font-family: Didot, serif;
  font-size: 30px;
  margin-bottom:10px;
  border-bottom: groove red;
}
.resume .education, .resume .job {
  font-family: Didot, serif;
  font-size: 20px;
}

.resume .education .college {
  /*margin: 10px 60px; */
  margin-left: 60px;
  font-weight:bold;
}

.resume .education .duration {
  margin-left: 60px;
}

.resume .education .major{
  margin-left: 60px;
}

.resume .job {
  margin-bottom: 60px;
}

.resume .job .title{
  margin:0 60px;
  font-weight: bold;
}

.resume .job .team {
  margin:0 60px;
}

.resume .job .duration {
  float:right;
  margin-right: 50px;
}

.resume .job .description {
  margin: 25px 80px;
  font-size:18px;
  line-height:1.5;
}

.resume .job .description li {
  list-style-type: square;
}


@media all and (max-width: 620px) {
}

/* End of resume-specific styling */
